:root, .dark-theme {
  --bg-color: #2b2b2b;
  --text-color: #8b8b8b;
}

@media (prefers-color-scheme: light) {
  :root, .light-theme {
    --bg-color: #e2e2e2;
    --text-color: #383838;
  }
}

html, body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0; padding: 0;
}

html, body {
  width: 100%;
  min-height: 100dvh;
  font-size: 16px;
  background: var(--bg-color);
  color: var(--text-color);
}

